body, html {
    font-family: "Roboto", sans-serif;
    background: linear-gradient(to bottom, #1db561 0%,#53cbf1 40%,#05abe0 100%);
    height: 100%;
  }

.logo {
    background-image: url('favicon.webp');
    width: 100px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}
  
  